numpy>=1.16.0,<1.19.0
geojson==2.4.1
rasterio
scikit-image
scipy
geopandas
Shapely
Fiona
s3fs
dask[array]
h5py==2.10.0
backoff==1.8.0
matplotlib
scikit-learn
imgaug==0.2.8
tensorflow>=1.15
backports.tempfile==1.0
tqdm
